apiVersion: v1
kind: Secret
metadata:
  name: icd-secrets
  namespace: {{YOUR_NAMESPACE}}
type: Opaque
stringData:
  DBUSERNAME: {{USERNAME}}
  DBPASSWORD: {{PASSWORD}}
  DBNAME: guestbook
  DBREPLICASET: {{REPLICASETHOSTNAMES}}
  CERTFILE: /secrets/cert.pem
